    / sd_claims / 17 : [ / these are the disclosures /
        <<[
            /salt/   h'8a56762aab2b0c2f3fa4a9b4f35501b4',
            /value/  {
                         simple(59): [
                         h'af375dc3fba1d082448642c00be7b2f7
                           bb05c9d8fb61cfc230ddfdfb4616a693',
                         h'13abe1f7f71ac145fe465f6d7e78a9c2
                           f9a627c1b9fb2495f608f3be2381f3a4'
                     ],
                         500: true,
                         502: 17183928
                     }   / inspection 17-Jan-2023 /
        ]>>,
        <<[
            /salt/   h'bae611067bb823486797da1ebbb52f83',
            /value/  "ABCD-123456",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'3ea41c77629b40bcbd85006c4f321543',
            /value/  {
                         1: "us",
                         simple(59): [
                         h'2470fb9175b062c347ab3c3a19776d02
                           476112a17cd7cfc9416664bc058c220b',
                         h'cf397a08917528624ca3b332c9edcc54
                           a72c9411dd5983f68017ce160f709f52'
                     ]
                     },
            /claim/  503   / San Francisco location /
        ]>>,
        <<[
            /salt/   h'52da9de5dc61b33775f9348b991d3d78',
            /value/  "ca",
            /claim/  2   / region=California /
        ]>>,
        <<[
            /salt/   h'1512077a88538f7ec813f2ead9ef1667',
            /value/  {
                         simple(59): [
                         h'7257a8697dfa40221079b00fb65fe587
                           c310e6ca3da1aa33b090335de66ec810',
                         h'1987648790f4282b934f0d169ad16f54
                           edbb1dd704427de07b250aef8c554094'
                     ],
                         500: true,
                         502: 1549560720
                     }   / inspection 7-Feb-2019 /
        ]>>,
        <<[
            /salt/   h'591eb2081b05be2dcbb6f8459cc0fe51',
            /value/  "DCBA-101777",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'043affb4c05f33cd25b2d8276907f872',
            /value/  {
                         1: "us",
                         simple(59): [
                         h'1b89717167f39d51eec08b13baeda570
                           eff5d0aedaa1d7d0821185c33634a5a0',
                         h'49412884fa1e3787c17d1320bdd48f6e
                           0e5365da010cde0571d4a7effd13cc2a'
                     ]
                     },
            /claim/  503   / Denver location /
        ]>>,
    ]
