/ cose-sign1 / 18([  / issuer SD-CWT /
  / CWT protected / << {
    / alg /    1  : -35, / ES384 /
    / kid /    4  : 'https://issuer.example/cose-key3',
    / typ /    16 : "application/sd-cwt",
    / sd_alg / 18 : -16  / SHA256 /
  } >>,
  / CWT unprotected / {
    / sd_claims / 17 : [ / these are all the disclosures /
        <<[
            /salt/   h'2bfeab9315829fe0c82a15b2c57a47b2',
            /value/  "fr"   / France /
        ]>>,
        <<[
            /salt/   h'c1069bc056e234d64f58baff8a7b776b',
        ]>>,
        <<[
            /salt/   h'b0392772caefd08178218f86f3e2b3a9',
            /value/  true,
            /claim/  500   / inspection result /
        ]>>,
        <<[
            /salt/   h'89c41c270dd06cd3517d371c9ddf2bab',
        ]>>,
    ]
  }
  / CWT payload / << {
    / iss / 1   : "https://issuer.example",
    / sub / 2   : "https://device.example",
    / exp / 4   : 1725330600,  /2024-09-03T02:30:00+00:00Z/
    / nbf / 5   : 1725243900,  /2024-09-02T02:25:00+00:00Z/
    / iat / 6   : 1725244200,  /2024-09-02T02:30:00+00:00Z/
    / cnf / 8   : {
      / cose key / 1 : {
        / kty /  1: 2,  / EC2   /
        / crv / -1: 1,  / P-256 /
        / x /   -2: h'8554eb275dcd6fbd1c7ac641aa2c90d9
                      2022fd0d3024b5af18c7cc61ad527a2d',
        / y /   -3: h'4dc7ae2c677e96d0cc82597655ce92d5
                      503f54293d87875d1e79ce4770194343'
      }
    },
    /countries array/ 98: [
        /redacted country == "fr" /
        h'dc5f753b66acd89d78481039934a86cc
          14f9959c64c4037dea3f872b9a8453f1'
        /decoy country #1 /
        h'3f80963a1246b412d6567f2a5ca446fd
          19a01dd8cfc291bed69e8c575c5abfb8'
    ],
    / redacted_claim_keys / simple(59) : [
        / redacted claim 500 (== true) /
        h'bd0fd88127b3071ff5433eef59a5e3c5
          f18341f25c5bd119c41fd34802a9797b'
        / decoy claim #2 /
        h'eeec970897a5b9108f24f44751baedab
          b53a1f3d241ab6b60c9f309f114ecf88'
    ]
  } >>,
  / CWT signature / h'544f015df266feb7af7494b7f170e0aa
                      d51eecc528ae3a3410118e8fe33b828b
                      1cb7f75ae98cc1b72d9410bdd401cc48
                      2688e3f6c6582ae140f04b535c4ede51
                      a0dd41e10016befa342b86233bd056fd
                      8a073949d8c02744fb06bdb8a51a980c'
])