  / redacted_claim_keys / simple(59) : [
      / redacted inspector_license_number /
      h'e7d2ca13738de42ebfe3d72af0675631
        4940ac1b129e5ecf0ed08af379ae98f8',
      / ... next redacted claim at the same level would go here /  ],
