  / redacted_claim_keys / simple(59) : [
      / redacted inspector_license_number /
      h'af375dc3fba1d082448642c00be7b2f7
        bb05c9d8fb61cfc230ddfdfb4616a693'
      / ... next redacted claim at the same level would go here /  ],
