  / redacted_claim_keys / 59(0) : [
      / redacted inspector_license_number /
      h'a6e9c2ef4e46ea49d6b2d664fdff610e
        ec3815069579e08e8969d74aef701c37',
      / ... next redacted claim at the same level would go here /  ],
