/ cose-sign1 / 18([  / issuer SD-CWT /
  / CWT protected / << {
    / alg /    1  : -35, / ES384 /
    / typ /    16 : "application/sd+cwt",
    / kid /    4  : 'https://issuer.example/cwt-key3',
    / sd_alg / 18 : -16  / SHA256 /
  } >>,
  / CWT unprotected / {
    / sd_claims / 17 : [ / these are all the disclosures /
        <<[
            /salt/   h'bae611067bb823486797da1ebbb52f83',
            /claim/  501,   / inspector_license_number /
            /value/  "ABCD-123456"
        ]>>,
        <<[
            /salt/   h'8de86a012b3043ae6e4457b9e1aaab80',
            /value/  1549560720   / inspected 7-Feb-2019 /
        ]>>,
        <<[
            /salt/   h'7af7084b50badeb57d49ea34627c7a52',
            /value/  1612560720   / inspected 4-Feb-2021 /
        ]>>,
        <<[
            /salt/   h'ec615c3035d5a4ff2f5ae29ded683c8e',
            /claim/  "region",   / region=California /
            /value/  "ca"
        ]>>,
        <<[
            /salt/   h'37c23d4ec4db0806601e6b6dc6670df9',
            /claim/  "postal_code",
            /value/  "94188"
        ]>>,
    ]
  }
  / CWT payload / << {
    / iss / 1   : "https://issuer.example",
    / sub / 2   : "https://device.example",
    / exp / 4   : 1725330600,  /2024-09-03T02:30:00+00:00Z/
    / nbf / 5   : 1725243900,  /2024-09-02T02:25:00+00:00Z/
    / iat / 6   : 1725244200,  /2024-09-02T02:30:00+00:00Z/
    / cnf / 8   : {
      / cose key / 1 : {
        / kty /  1: 2,  / EC2   /
        / crv / -1: 1,  / P-256 /
        / x /   -2: h'8554eb275dcd6fbd1c7ac641aa2c90d9
                      2022fd0d3024b5af18c7cc61ad527a2d',
        / y /   -3: h'4dc7ae2c677e96d0cc82597655ce92d5
                      503f54293d87875d1e79ce4770194343'
      }
    },
    /most_recent_inspection_passed/ 500: true,
    / redacted_claim_keys / 59(0) : [
        / redacted inspector_license_number /
        h'0ad0f76dcb7fd812ca64c3ada3f543be
          96d0e351e1e576fbab5cb659b49e599e'
    ],
    /inspection_dates/ 502 : [
        / redacted inspection date 7-Feb-2019 /
        60(h'f468b68dd7432030d7f33a8783acb3a4
             d6afc215bbc184dce8831c64b539f335'),
        / redacted inspection date 4-Feb-2021 /
        60(h'0839dcbdd9ed55c8aac3e573ccf59c81
             0fa8d9f6ec551cb9737621faf3584e1f'),
        1674004740,   / 2023-01-17T17:19:00 /
    ],
    / inspection_location / 503 : {
        "country" : "us",            / United States /
        / redacted_claim_keys / 59(0) : [
            / redacted region /
            h'dff0cb7a6ff555544554c527d5e32eed
              ee6a9d80a1dae2e0ac611796674ce281'
            / redacted postal_code /
            h'5f5e6bfc2de598c80df58ff84090125a
              f8bb1ada795a37e5cfcf8f480e445755'
      ]
    }
  } >>,
  / CWT signature / h'd6b1f5143a3f6b2e54a1ea29ed98e9ed
                      7abb2927b34ba100fe91ed493d66062b
                      d71716eed6b209b9d6c6861a6886ad47
                      5716220bcb3a0276a205002c3f6d3e86
                      a52d3e990f869bd38c5a476f73ee3319
                      64dee2cb51321b7bf2e64e62811a9b22'
])