/ cose-sign1 / 18([  / issuer SD-CWT /
  / CWT protected / << {
    / alg /    1  : -35, / ES384 /
    / typ /    16 : "application/sd-cwt",
    / kid /    4  : 'https://issuer.example/cwt-key3',
    / sd_alg / 18 : -16  / SHA256 /
  } >>,
  / CWT unprotected / {
    / sd_claims / 17 : [ / these are all the disclosures /
        <<[
            /salt/   h'bae611067bb823486797da1ebbb52f83',
            /value/  "ABCD-123456",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'8de86a012b3043ae6e4457b9e1aaab80',
            /value/  1549560720   / inspected 7-Feb-2019 /
        ]>>,
        <<[
            /salt/   h'7af7084b50badeb57d49ea34627c7a52',
            /value/  1612560720   / inspected 4-Feb-2021 /
        ]>>,
        <<[
            /salt/   h'ec615c3035d5a4ff2f5ae29ded683c8e',
            /value/  "ca",
            /claim/  "region"   / region=California /
        ]>>,
        <<[
            /salt/   h'37c23d4ec4db0806601e6b6dc6670df9',
            /value/  "94188",
            /claim/  "postal_code"
        ]>>,
    ]
  }
  / CWT payload / << {
    / iss / 1   : "https://issuer.example",
    / sub / 2   : "https://device.example",
    / exp / 4   : 1725330600,  /2024-09-03T02:30:00+00:00Z/
    / nbf / 5   : 1725243900,  /2024-09-02T02:25:00+00:00Z/
    / iat / 6   : 1725244200,  /2024-09-02T02:30:00+00:00Z/
    / cnf / 8   : {
      / cose key / 1 : {
        / kty /  1: 2,  / EC2   /
        / crv / -1: 1,  / P-256 /
        / x /   -2: h'8554eb275dcd6fbd1c7ac641aa2c90d9
                      2022fd0d3024b5af18c7cc61ad527a2d',
        / y /   -3: h'4dc7ae2c677e96d0cc82597655ce92d5
                      503f54293d87875d1e79ce4770194343'
      }
    },
    /most_recent_inspection_passed/ 500: true,
    / redacted_claim_keys / simple(59) : [
        / redacted inspector_license_number /
        h'3fc9748e00684e6442641e58ea965468
          085024da253ed46b507ae56d4c204434'
    ],
    /inspection_dates/ 502 : [
        / redacted inspection date 7-Feb-2019 /
        60(h'f468b68dd7432030d7f33a8783acb3a4
             d6afc215bbc184dce8831c64b539f335'),
        / redacted inspection date 4-Feb-2021 /
        60(h'0839dcbdd9ed55c8aac3e573ccf59c81
             0fa8d9f6ec551cb9737621faf3584e1f'),
        1674004740,   / 2023-01-17T17:19:00 /
    ],
    / inspection_location / 503 : {
        "country" : "us",            / United States /
        / redacted_claim_keys / simple(59) : [
            / redacted region /
            h'2ff24f519a1bdfc66292263de2415a36
              6b9a4302d2a9f36b9791f8eab1867513'
            / redacted postal_code /
            h'f907645d118184af56331cb07b7b8c31
              826ac7d18d051bcec37a3a8afb8581c3'
      ]
    }
  } >>,
  / CWT signature / h'9280a520b8686183bf72cd07c714e603
                      ff0975b357975a1391de51a248d554e1
                      b93d0d101edb6bf11a4a98aa9714d823
                      c84d1d6c438e5d733a4f67c16e1ff030
                      ae3f4b1c546ecc9e9add168da97e32e1
                      c5b8de5b873c9572ecb9f219399c5a9f'
])