/ cose-sign1 / 18( / sd_kbt / [
  / KBT protected / << {
    / alg /    1:  -7, / ES256 /
    / typ /   16:  "application/kb+cwt",
    / kcwt /  13:  18([  / issuer SD-CWT /
      / CWT protected / << {
        / alg /    1  : -35, / ES384 /
        / typ /    16 : "application/sd-cwt",
        / kid /    4  : 'https://issuer.example/cwt-key3',
        / sd_alg / 18 : -16  / SHA256 /
      } >>,
      / CWT unprotected / {
        / sd_claims / 17 : [ / these are the disclosures /
            <<[
                /salt/   h'2e9a833949c163ce845813c258a8f13c',
                /value/  {
                             500: true,
                             502: 17183928,
                             simple(59): [
                             h'3fc9748e00684e6442641e58ea965468
                               085024da253ed46b507ae56d4c204434',
                             h'a5124745703ea9023bf92a2028ba4547
                               b830ce9705161eaad56729cab8e1d807'
                         ]
                         }   / inspection 17-Jan-2023 /
            ]>>,
            <<[
                /salt/   h'bae611067bb823486797da1ebbb52f83',
                /value/  "ABCD-123456",
                /claim/  501   / inspector_license_number /
            ]>>,
            <<[
                /salt/   h'd5c7494eb16a8ff11fba507cbc7c816b',
                /value/  {
                             1: "us",
                             simple(59): [
                             h'3bf93977377099c66997303ddbce67b4
                               ca7ee95d2c8cf2b8b45f451362493460',
                             h'231e125d192de099e91bc59e2ae914f0
                               c891cbc3329b7fea70a3aa636c87a0a4'
                         ]
                         },
                /claim/  503   / San Francisco location /
            ]>>,
            <<[
                /salt/   h'52da9de5dc61b33775f9348b991d3d78',
                /value/  "ca",
                /claim/  2   / region=California /
            ]>>,
            <<[
                /salt/   h'9adcf14141f8607a44a130a4b341e162',
                /value/  {
                             500: true,
                             502: 1549560720,
                             simple(59): [
                             h'94d61c995d4fa25ad4d3cc4752f6ffaf
                               9e67f7f0b4836c8252a9ad23c20499f5',
                             h'4ff0ecad5f767923582febd69714f3f8
                               0cb00f58390a0825bc402febfa3548bf'
                         ]
                         }   / inspection 7-Feb-2019 /
            ]>>,
            <<[
                /salt/   h'591eb2081b05be2dcbb6f8459cc0fe51',
                /value/  "DCBA-101777",
                /claim/  501   / inspector_license_number /
            ]>>,
            <<[
                /salt/   h'95b006410a1b6908997eed7d2a10f958',
                /value/  {
                             1: "us",
                             simple(59): [
                             h'2bc86e391ec9b663de195ae9680bf614
                               21666bc9073b1ebaf80c77be3adb379f',
                             h'e11c93b44fb150a73212edec5bde46d3
                               d7db23d0d43bfd6a465f82ee8cf72503'
                         ]
                         },
                /claim/  503   / Denver location /
            ]>>,
        ]
      }
      / CWT payload / << {
        / iss / 1   : "https://issuer.example",
        / sub / 2   : "https://device.example",
        / exp / 4   : 1725330600,  /2024-09-03T02:30:00+00:00Z/
        / nbf / 5   : 1725243900,  /2024-09-02T02:25:00+00:00Z/
        / iat / 6   : 1725244200,  /2024-09-02T02:30:00+00:00Z/
        / cnf / 8   : {
          / cose key / 1 : {
            / kty /  1: 2,  / EC2   /
            / crv / -1: 1,  / P-256 /
            / x /   -2: h'8554eb275dcd6fbd1c7ac641aa2c90d9
                          2022fd0d3024b5af18c7cc61ad527a2d',
            / y /   -3: h'4dc7ae2c677e96d0cc82597655ce92d5
                          503f54293d87875d1e79ce4770194343'
          }
        },
        /most_recent_inspection_passed/ 500: true,
        / redacted_claim_keys / simple(59) : [
            / redacted inspector_license_number /
            h'94d61c995d4fa25ad4d3cc4752f6ffaf
              9e67f7f0b4836c8252a9ad23c20499f5'
        ],
        /inspection_dates/ 502 : [
            / redacted inspection date 7-Feb-2019 /
            60(h'2bc86e391ec9b663de195ae9680bf614
                 21666bc9073b1ebaf80c77be3adb379f'),
            / redacted inspection date 4-Feb-2021 /
            60(h'e11c93b44fb150a73212edec5bde46d3
                 d7db23d0d43bfd6a465f82ee8cf72503'),
            1674004740,   / 2023-01-17T17:19:00 /
        ],
        / inspection_location / 503 : {
            "country" : "us",            / United States /
            / redacted_claim_keys / simple(59) : [
                / redacted region /
                h'4ff0ecad5f767923582febd69714f3f8
                  0cb00f58390a0825bc402febfa3548bf'
                / redacted postal_code /
                h'c26a5e15b904601ddffb70cf63299d5a
                  a4b2844ee8ba4026c169a3b9652bab00'
          ]
        }
      } >>,
      / CWT signature / h'9280a520b8686183bf72cd07c714e603
                          ff0975b357975a1391de51a248d554e1
                          b93d0d101edb6bf11a4a98aa9714d823
                          c84d1d6c438e5d733a4f67c16e1ff030
                          ae3f4b1c546ecc9e9add168da97e32e1
                          c5b8de5b873c9572ecb9f219399c5a9f'
    ])
     / end of issuer SD-CWT /
  } >>,     / end of KBT protected header /
  / KBT unprotected / {},
  / KBT payload / << {
    / cnonce / 39    : h'8c0f5f523b95bea44a9a48c649240803',
    / aud    /  3    : "https://verifier.example/app",
    / iat    /  6    : 1725244237, / 2024-09-02T02:30:37+00:00Z /
  } >>,      / end of KBT payload /
  / KBT signature / h'91a6afff50510321406bf6873cc8b319
                      1be6f6d92b137d35797fc35bee391a82
                      840fbedc900d72c71203cc58bbe283df
                      07bb84b316afabdd5d6d2b7212149845'
])   / end of kbt /