/ cose-sign1 / 18([  / issuer SD-CWT /
  / CWT protected / << {
    / alg /    1  : -35, / ES384 /
    / kid /    4  : 'https://issuer.example/cose-key3',
    / typ /    16 : "application/sd-cwt",
    / sd_alg / 18 : -16  / SHA256 /
  } >>,
  / CWT unprotected / {
    / sd_claims / 17 : [ / these are all the disclosures /
        <<[
            /salt/   h'591eb2081b05be2dcbb6f8459cc0fe51',
            /value/  "DCBA-101777",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'e70e23e77176fa59beb0b2559943a079',
            /value/  "co",
            /claim/  2   / region=Colorado /
        ]>>,
        <<[
            /salt/   h'cbbf1cd3d1a5da83e1d92c08d566a481',
            /value/  "80302",
            /claim/  3   / postcode=80302 /
        ]>>,
        <<[
            /salt/   h'043affb4c05f33cd25b2d8276907f872',
            /value/  {
                         1: "us",
                         simple(59): [
                         h'1b89717167f39d51eec08b13baeda570
                           eff5d0aedaa1d7d0821185c33634a5a0',
                         h'49412884fa1e3787c17d1320bdd48f6e
                           0e5365da010cde0571d4a7effd13cc2a'
                     ]
                     },
            /claim/  503   / Denver location /
        ]>>,
        <<[
            /salt/   h'1512077a88538f7ec813f2ead9ef1667',
            /value/  {
                         simple(59): [
                         h'7257a8697dfa40221079b00fb65fe587
                           c310e6ca3da1aa33b090335de66ec810',
                         h'1987648790f4282b934f0d169ad16f54
                           edbb1dd704427de07b250aef8c554094'
                     ],
                         500: true,
                         502: 1549560720
                     }   / inspection 7-Feb-2019 /
        ]>>,
        <<[
            /salt/   h'9a3bc899090435650b377199450c1fa1',
            /value/  "EFGH-789012",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'5e852d2eef59c0ebeab8c08fca252cc5',
            /value/  "nv",
            /claim/  2   / region=Nevada /
        ]>>,
        <<[
            /salt/   h'3dd46bd7dea09c9ee7dfe4e0d510129b',
            /value/  "89155",
            /claim/  3   / postcode=89155 /
        ]>>,
        <<[
            /salt/   h'cc7d92e7262b01148ab7bc3423cfa5ad',
            /value/  {
                         1: "us",
                         simple(59): [
                         h'da268d9b81c19c02fcea7c4cadc2e23f
                           0454a4550a380cde8b0842463ed034da',
                         h'61dcdb8cbae7b66c3e36b2510daf61ba
                           9168a50f20f4cad4213ed231e33d5b7b'
                     ]
                     },
            /claim/  503   / Las Vegas location /
        ]>>,
        <<[
            /salt/   h'24896aa6619c54a22630cfe948f6bb59',
            /value/  {
                         simple(59): [
                         h'98d15f82dfadc18f5700582ff47b286c
                           d7ca047bb1e0529a5374c59d6dc5057d',
                         h'503e8da41dde08585dc299cd622f3991
                           b0915b2154ede7072b42c53d72892255'
                     ],
                         500: true,
                         502: 1612560720
                     }   / inspection 4-Feb-2021 /
        ]>>,
        <<[
            /salt/   h'bae611067bb823486797da1ebbb52f83',
            /value/  "ABCD-123456",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'52da9de5dc61b33775f9348b991d3d78',
            /value/  "ca",
            /claim/  2   / region=California /
        ]>>,
        <<[
            /salt/   h'a965de35aa599d603fe1b7aa89490eb0',
            /value/  "94188",
            /claim/  3   / postcode=94188 /
        ]>>,
        <<[
            /salt/   h'3ea41c77629b40bcbd85006c4f321543',
            /value/  {
                         1: "us",
                         simple(59): [
                         h'2470fb9175b062c347ab3c3a19776d02
                           476112a17cd7cfc9416664bc058c220b',
                         h'cf397a08917528624ca3b332c9edcc54
                           a72c9411dd5983f68017ce160f709f52'
                     ]
                     },
            /claim/  503   / San Francisco location /
        ]>>,
        <<[
            /salt/   h'8a56762aab2b0c2f3fa4a9b4f35501b4',
            /value/  {
                         simple(59): [
                         h'af375dc3fba1d082448642c00be7b2f7
                           bb05c9d8fb61cfc230ddfdfb4616a693',
                         h'13abe1f7f71ac145fe465f6d7e78a9c2
                           f9a627c1b9fb2495f608f3be2381f3a4'
                     ],
                         500: true,
                         502: 17183928
                     }   / inspection 17-Jan-2023 /
        ]>>,
    ]
  }
  / CWT payload / << {
    / iss / 1   : "https://issuer.example",
    / sub / 2   : "https://device.example",
    / exp / 4   : 1725330600,  /2024-09-03T02:30:00+00:00Z/
    / nbf / 5   : 1725243900,  /2024-09-02T02:25:00+00:00Z/
    / iat / 6   : 1725244200,  /2024-09-02T02:30:00+00:00Z/
    / cnf / 8   : {
      / cose key / 1 : {
        / kty /  1: 2,  / EC2   /
        / crv / -1: 1,  / P-256 /
        / x /   -2: h'8554eb275dcd6fbd1c7ac641aa2c90d9
                      2022fd0d3024b5af18c7cc61ad527a2d',
        / y /   -3: h'4dc7ae2c677e96d0cc82597655ce92d5
                      503f54293d87875d1e79ce4770194343'
      }
    },
    /most_recent_inspection_passed/ 500: true,
    /inspection_dates/ 502 : [
        / redacted inspection date 7-Feb-2019 /
        60(h'1b89717167f39d51eec08b13baeda570
             eff5d0aedaa1d7d0821185c33634a5a0'),
        / redacted inspection date 4-Feb-2021 /
        60(h'49412884fa1e3787c17d1320bdd48f6e
             0e5365da010cde0571d4a7effd13cc2a'),
        1674004740,   / 2023-01-17T17:19:00 /
    ],
    / inspection_location / 503 : {
        "country" : "us",            / United States /
        / redacted_claim_keys / simple(59) : [
            / redacted region /
            h'1987648790f4282b934f0d169ad16f54
              edbb1dd704427de07b250aef8c554094'
            / redacted postal_code /
            h'3a667b3059c54b491efe06995b7040f4
              7cee050053831e1a7756fe675f2a3be9'
      ]
    },
    / redacted_claim_keys / simple(59) : [
        / redacted inspector_license_number /
        h'7257a8697dfa40221079b00fb65fe587
          c310e6ca3da1aa33b090335de66ec810'
    ]
  } >>,
  / CWT signature / h'9c9022e57adb33c853f30b6e8a590f40
                      6ca55849d7b8cd2a2519d3aec03e61b9
                      ef0ecd85fe96103f916f58d73cd2f775
                      4c390401945f0683b144d3504e500f94
                      d30433c3445417dc3c920f7a155548e9
                      1994601827d0a46ead66ff450485e85f'
])