/ cose-sign1 / 18([  / issuer SD-CWT /
  / CWT protected / << {
    / alg /    1  : -35, / ES384 /
    / kid /    4  : 'https://issuer.example/cose-key3',
    / typ /    16 : 293, # application/sd-cwt
    / sd_alg / 170 : -16  / SHA256 /
  } >>,
  / CWT unprotected / {
    / sd_claims / 17 : [ / these are the disclosures /
        <<[
            /salt/   h'cd99b3858f1d659f9d16039abf8c5fba',
            /value/  {
                         500: true,
                         502: 1674004740,
                         simple(59): [
                         h'af375dc3fba1d082448642c00be7b2f7
                           bb05c9d8fb61cfc230ddfdfb4616a693',
                         h'9d151abeb800adcc11ff10ff61fbd3d7
                           5944c134b40a24abef1787d3ae6583aa'
                     ]
                     }   / inspection 17-Jan-2023 /
        ]>>,
        <<[
            /salt/   h'bae611067bb823486797da1ebbb52f83',
            /value/  "ABCD-123456",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'483e4b3c194df6073a9c41ca9f274067',
            /value/  {
                         1: "us",
                         simple(59): [
                         h'2470fb9175b062c347ab3c3a19776d02
                           476112a17cd7cfc9416664bc058c220b',
                         h'cf397a08917528624ca3b332c9edcc54
                           a72c9411dd5983f68017ce160f709f52'
                     ]
                     },
            /claim/  503   / San Francisco location /
        ]>>,
        <<[
            /salt/   h'52da9de5dc61b33775f9348b991d3d78',
            /value/  "ca",
            /claim/  2   / region=California /
        ]>>,
        <<[
            /salt/   h'2df7d2c105b5bf3acf9c698f3658552f',
            /value/  {
                         500: true,
                         502: 1549560720,
                         simple(59): [
                         h'7257a8697dfa40221079b00fb65fe587
                           c310e6ca3da1aa33b090335de66ec810',
                         h'c24c646b52fecd773c6ea01c6caa5a73
                           422b85d3afa5900fa998336d83a88025'
                     ]
                     }   / inspection 7-Feb-2019 /
        ]>>,
        <<[
            /salt/   h'591eb2081b05be2dcbb6f8459cc0fe51',
            /value/  "DCBA-101777",
            /claim/  501   / inspector_license_number /
        ]>>,
        <<[
            /salt/   h'c23a4d192be75dbd583be570482de8dd',
            /value/  {
                         1: "us",
                         simple(59): [
                         h'1b89717167f39d51eec08b13baeda570
                           eff5d0aedaa1d7d0821185c33634a5a0',
                         h'49412884fa1e3787c17d1320bdd48f6e
                           0e5365da010cde0571d4a7effd13cc2a'
                     ]
                     },
            /claim/  503   / Denver location /
        ]>>,
    ]
  },
  / CWT payload / << {
    / iss / 1   : "https://issuer.example",
    / sub / 2   : "https://device.example",
    / exp / 4   : 1725330600,  /2024-09-03T02:30:00+00:00Z/
    / nbf / 5   : 1725243900,  /2024-09-02T02:25:00+00:00Z/
    / iat / 6   : 1725244200,  /2024-09-02T02:30:00+00:00Z/
    / cnf / 8   : {
      / cose key / 1 : {
        / kty /  1: 2,  / EC2   /
        / crv / -1: 1,  / P-256 /
        / x /   -2: h'8554eb275dcd6fbd1c7ac641aa2c90d9
                      2022fd0d3024b5af18c7cc61ad527a2d',
        / y /   -3: h'4dc7ae2c677e96d0cc82597655ce92d5
                      503f54293d87875d1e79ce4770194343'
      }
    },
    /inspection history log/ 504: [
      / inspection 7-Feb-2019 /
      60(h'ca6b851688236744ff0cf0814508e4f1
           81d3811bfec4ed5bb8ace7823132dbc0'),
      / inspection 4-Feb-2021 /
      60(h'0dfdc69d0efb65eec14bf28af78cd8f0
           6cabfe8e2b1a0611ef8bca869ce35b61'),
      / inspection 17-Jan-2023 /
      60(h'20d9bb11363bae49851cfd4a3f166539
           d0aa00433c30aede18380bfa98d781dc')
    ]
  } >>,
  / CWT signature / h'413d8e017bd26e47eb6dd69317a4312b
                      b84c81a37496d19fa6aa73e16d9441ca
                      ee0bfdbe37d0b2d945e22115842c75ec
                      324cb0c9c80cad22b1575bafa577e1d7
                      77e3d35c26dbc239dc0141d386cbcc96
                      e0d2d309714d0a38a8aee77456e1a852'
])